/* 연혁 */
.history .txt { font-size: 1rem; color: #333;}
.history .history_list h3 { padding: 2rem 0 1rem; font-size: 2.25rem; color: #333;}
.history .history_list h3 span { font-size: 1.65rem;}
.history .history_list .list { margin: 1rem 0 10rem; line-height: 1.4rem; font-size: .7rem;}
.history .history_list .list li { position: relative; padding: 0 0 0 4rem;}
.history .history_list .list li strong { position: absolute; left:0; top:0; font-weight: 400; color: #999; font-size: ;}

.product_type1 { margin: 0 0 6rem; display: flex; gap:2rem; }
.product_type1 h3 { padding: 2.2rem 0; font-size: 1.8rem; color: #da217e;}
.product_type1 p { font-size: .8rem; color: #333; line-height: 1.5rem;}

/*신문고*/
.txt_top { position: relative; padding: 4.2rem 0 0; margin: 0 0 1rem;}
.txt_top .txt1 { padding: 0 0 1.5rem ; font-size: 1.1rem; color:#333;}
.txt_top .txt2 { padding: 0 0 2.5rem ; font-size: .8rem; color:#333;}
.red { color:#da217e;}
.txt_list { font-size: .8rem; color:#333;}
.txt_list li { padding: 0 0 0 1.25rem; text-indent: -1.25rem;}
.txt_list li::before { margin: 0 .5rem 0 0; content: url(../images/ico_info_black.png);}
.txt_list li.red::before { content: url(../images/ico_info_red.png);}
.txt_top .btn_red_write { position: absolute; right:0; bottom:0; width: 7.8rem; height: 1.75rem; color:#fff; text-align: left; background: url(../images/ico_write.png) no-repeat .8rem center #da2128; border-radius: .25rem; text-indent: 2.2rem; }
.form_wrap { padding: 1.2rem 0 0; border-top: 2px solid #333;}
.form_wrap h4 { padding: .6rem 0 .7rem; font-size: .8rem; color:#333; line-height: 1;}
.radio_list { padding: 0 0 1.75rem;}
.radio_list > li { float: left; width: 33.33%; line-height: 1.85rem;}
.radio_list:after { content:""; display: block; clear: both; }
.form_txt { position: relative; padding: 0 0 1.2rem;}
.form_txt label { padding: 0 .3rem; position: absolute; left: .7rem; top:0; background: #fff; font-size: .7rem; color:#333; transform: translateY(-50%);} 
.form_txt textarea, 
.form_txt input { padding: 0 1rem; height: 2.5rem; border: 1px solid #e9ebee; border-radius: .25rem; box-sizing: border-box; width: 100%;}
.form_txt textarea { padding:1.25rem 1rem; height: 13rem;} 
.form_txt textarea::placeholder { font-size: .8rem; color:#757575; font-family: 'Noto Sans KR';} 
.form_txt .btn_file { width: 4.75rem; height: 2.5rem; border-radius: .25rem; color:#fff; font-size: .8rem; background: #333; }
.txt3 { padding: .7rem 0 2.6rem; color:#333; font-size: .8rem;}
.form_list_col2 { display: flex; flex-wrap: wrap; }
.form_list_col2 li { width: 50%;}
.form_list_col2 li .form_txt { display: inline-block; }
.form_list_col2 > li > input[type=radio] + label { margin: 0 0 0 .5rem;}
.agree { padding: 3.1rem 0 0;}
.agree .agree_box { margin: 1.4rem 0 ; width: 100%; height: 14rem; background: #f4f4f4; border: 3px solid #e9e9e9; overflow: auto; box-sizing: border-box;}
.agree .flex { display: flex; justify-content: space-between; }
.agree .flex > p { font-size: .8rem; color:#333; }
.agree .flex > div { display: flex; justify-content: space-between; width: 15rem; }
.agree h3 { font-size: 1rem; color:#333; line-height: 1; font-weight: normal;}
.form_btn { padding:4.25rem 0; text-align: right;}
.btn_type1 { width: 6.5rem; height: 2.25rem; background: #da2128; text-align:center; color:#fff; font-size: .8rem;}
.btn_type2 { width: 6.5rem; height: 2.25rem; background: #333; text-align:center; color:#fff; font-size: .8rem;}