
.product_type1 { position: relative; top:0; margin:0 1rem; display: block; gap:none; }
.product_type1 img { width: 100%; }
.product_type1 p { margin: 0 0 6rem;}

/* 신문고 */
.form_type { padding: 0 1rem;}
.txt_top { padding: 2.65rem 0 2.7rem; }
.txt_top .txt2 { padding: 0 0 2.25rem ; line-height: 1.25rem;}
.txt_list li { line-height: 1.5rem;}
.form_wrap h4 { padding: .3rem 0 1rem;}
.radio_list { padding: 0 0 2.2rem;}
.form_txt { padding: 0 0 1.5rem;}
.form_txt textarea,
.form_txt input { width: 100% !important;}
.form_txt #txt1_3 { width: calc(100% - 5rem) !important;}
.radio_list > li { float:none; width: 100%; line-height: 1.85rem;}
.form_txt.label_static label { position: static; line-height: 1; padding: 0; }
.form_list_col2 { display: block; width: 100%;}
.form_list_col2 li { width: 100%;}
.form_list_col2 li .form_txt { display: block; }
.form_list_col2 > li:first-child > input[type=radio] + label { margin: 0 0 1.5rem .5rem;}
.agree .flex { display: block; width: 100%; }
.agree .flex > div { padding: .5rem 0; display: flex; justify-content: end; width: 100%;}
.agree .flex > div label { padding: 0 0 0 1.2rem; margin: 0 0 0 2rem; }





dd
